#wrapper {
	position:relative;
	display:inline-block;
    width:1280px;
}



#agungwebi
{
	display	 : inline-block;
    width    : 1280px;
    height   : 160px;
    overflow : hidden;
    position : relative;
	margin	 : -5px;
}

#agung_tmks_webi
{
	position:absolute;
	top:-570px;
	left:0;
	z-index:-1;
	
}

#agung_sat_ash
{
	display	 : inline-block;
	max-width: 400px;
	height: 150px;
	overflow : hidden;
    position : relative;
	margin	 : -5px;
	
}

#agung_ash_prob
{
	margin-left: -330px; 
	height: 800px; 
	margin-top: -660px; 
	width: 600px
}

#lower_3rd
{
	display	 : inline-block;
    width    : 1080px;
    height   : 100px;
    position : relative;
	margin	 : -5px;
}

#ash_prob_img
{
	position: absolute;
	top:643px;
	left: 5px;
}

h3
{
	font-family: Tahoma,Verdana,Segoe,sans-serif;
    position : absolute;
	top: 540px;
	color: white;
	left: 20px;
	margin	 : -5px;
}

#sub_alert_frame
{
	position: absolute;
	width: 1000px;
	height: 78px;
	top:648px;
	left: 270px;

}

#ge_jagi_bhz_img
{
	position: absolute;
	top:530px;
	left: 265px;

}

h1
{
	position:absolute;
	top:-20px;
	left:10px;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 42px;
	color: white;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}

